{% spaceless %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="applicable-device" content="mobile" />
    <link rel="dns-prefetch" href="//m.__host.com" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" /> 
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% block page_title %}{{ page_title|default('Mac下载') }}{% endblock %}</title>
    <meta name="keywords" content="{% block page_kw %}{{ page_kw|default('Mac下载') }}{% endblock %}">
    <meta name="description" content="{% block page_desc %}{{ page_desc }}{% endblock %}">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="canonical" href="{{ pc_url }}" >
    <script>
    (function(){var ua=navigator.userAgent.toLowerCase();var bIsIpad=ua.match(/ipad/i)=="ipad";var bIsIphoneOs=ua.match(/iphone os/i)=="iphone os";var bIsAndroid=ua.match(/android/i)=="android";var bIsWM=ua.match(/windows mobile/i)=="windows mobile";if(bIsIpad||bIsIphoneOs||bIsAndroid||bIsWM){return}else{window.location.href="{{ pc_url }}"}})();
    </script>
    {% block css %}{% endblock %}
</head>
<body>
  {% block header %}
	<header>
		<div class="head">
			<div class="logo fl"><a href="/">
				<img src="/assets/images/logo.png">
			</a></div>
			<div class="head-other fr">
				<a href="/search/"><i class="icon-search"></i></a>
				<span id="menu"><i class="icon-menu"></i></span>
			</div>
			<div class="fix-nav">
				<div class="nav-wrap">
					<img src="/assets/images/icon.png">
					<ul>
						<li {% if active == 'index' %}class="active"{% endif %}><a href="/">首页</a></li>
						<li {% if active == 'mac' %}class="active"{% endif %}><a href="/list/">应用</a></li>
            <li {% if active == 'plugin' %}class="active"{% endif %}><a href="/cjlist/">插件</a></li>
            <li {% if active == 'template' %}class="active"{% endif %}><a href="/mblist/">模板</a></li>
						<li {% if active == 'wallpaper' %}class="active"{% endif %}><a href="/dlist/">壁纸</a></li>
            <li {% if active == 'article' %}class="active"{% endif %}><a href="/nlist/">教程</a></li>
						<li {% if active == 'special' %}class="active"{% endif %}><a href="/z/ls_1.html">专题</a></li>
						<li {% if active == 'rank' %}class="active"{% endif %}><a href="/rank/">榜单</a></li>
						<li><a href="https://sc.__host.com/">素材</a></li>
						<li><a href="https://v.__host.com/">视频</a></li>
					</ul>
				</div>
			</div>
		</div>
		<nav>
			<ul class="clearfix">
				<li {% if active == 'index' %}class="active"{% endif %}><a href="/">首页</a></li>
				<li {% if active == 'mac' %}class="active"{% endif %}><a href="/list/">应用</a></li>
        <li {% if active == 'plugin' %}class="active"{% endif %}><a href="/cjlist/">插件</a></li>
				<li {% if active == 'template' %}class="active"{% endif %}><a href="/mblist/">模板</a></li>
				<li {% if active == 'wallpaper' %}class="active"{% endif %}><a href="/dlist/">壁纸</a></li>
        <li {% if active == 'article' %}class="active"{% endif %}><a href="/nlist/">教程</a></li>
				<li {% if active == 'special' %}class="active"{% endif %}><a href="/z/ls_1.html">专题</a></li>
				<li {% if active == 'rank' %}class="active"{% endif %}><a href="/rank/">榜单</a></li>
				<li><a href="https://sc.__host.com/">素材</a></li>
				<li><a href="https://v.__host.com/">视频</a></li>
			</ul>
		</nav>
	</header>
  {% endblock %}
	{% block content %}{% endblock %}
	<footer>
		<div class="foot clearfix">
			<a href="/">网站首页</a>
			<p>Copyright©2019__host.com All Rights Reserved</p>
		</div>
	</footer>
  <script async src='http://mxsa.macw.com:3000/browser-sync/browser-sync-client.js?v=2.26.7'></script>
	{% block script %}
    <script src="js/common.min.js"></script>
  {% endblock %}
</body>
</html>
{% endspaceless %}