{% extends 'inc/base.twig' %}
{% import "components/index.twig" as component %}

{% block css %}
  <link rel="stylesheet" href="css/list.min.css">
{% endblock %}

{% block content %}
  <main>
    <section class="list-nav">
      <div class="nav-wrap">
        {% for item in cate_info if item.id == category_data.parent_id %}
          <a href="/list/1_0.html" {% if id == item.id %}class="active"{% endif %}>全部</a>
          {% for v in item.info %}
            <a href="{{ v.url }}" {% if id == v.id %}class="active"{% endif %}>{{ v.cate_name }}</a>
          {% endfor %}
        {% endfor %}
      </div>
      <div class="nav-second">
        <div class="free-type fr">
          <a href="/list/{{ id }}_1.html" {% if vip == 1 %}class="active"{% endif %}>收费</a> <em>|</em>
          <a href="/list/{{ id }}_2.html" {% if vip == 2 %}class="active"{% endif %}>免费</a>
        </div>
      </div>
    </section>
    <section class="list-wrap">
      <div class="list-box">
        {{ component.soft(mac_soft) }}
      </div>
    </section>
  </main>
{% endblock %}

{% block script %}
  <script src="js/list.min.js"></script>
{% endblock %}
