{# 用来替换[dl]模型id-id[/dl]模板 #}
<div class="dl-soft">
  <a href="{{ dl.url }}" title="{{ dl.title }}" target="_blank">
    <img src="{{ dl.thumb }}" alt="{{ dl.title }}">
    <span class="title">{{ dl.title }}</span>
    <button>立即下载</button>
  </a>
</div>