{% extends 'inc/base.twig' %}
{% import "components/index.twig" as component %}

{% block css %}
<link rel="stylesheet" href="css/content.min.css">
{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="breakhumbs">
      <a href="/">首页</a>
      &gt; <a href="{{ category_data.parent_cate_url }}">{{ category_data.parent_cate_name }}</a>
      &gt; <a href="{{ category_data.url }}">{{ category_data.cate_name }}</a>
      &gt; <span>{{ videoContent.title }}</span>
    </div>

    <section class="content-video">
      <div class="content-video_wrap">
        <div class="video-box">
          <div class="water-marker">__host.com</div>
          <video controls loop autoplay preload="meta" controlslist="nodownload">
            <source src="{{ videoContent.preview_url }}">
          </video>
          <div class="video-play"></div>
        </div>
        <div class="video-title_box">
          <h1>{{ videoContent.title }}</h1>
        </div>
        <div class="video-btns">
          <button id="collect"><i class="icon-collect"></i><span>点击收藏</span></button>
          <button id="support"><i class="icon-support"></i><span>{{ videoContent.click_good }}</span></button>
          <button id="share"><i class="icon-share"></i><span>分享有礼</span></button>
          <button id="download"><i class="icon-download"></i>立即下载</button>
        </div>
        <div class="rec-soft">
          {% if needInfo %}
          推荐软件：
          <a href="{{ needInfo.link }}">
            <img src="{{ needInfo.thumb }}">{{ needInfo.description }}
          </a>
          {% endif %}
          {% if videoContent.vjx_url %}
          <span id="teach-temp" data-url="{{ videoContent.vjx_url }}">【 模板使用教程 】</span>
          {% endif %}
        </div>
        <ol>
          <li>分辨率： {{ videoContent.resolution }}</li>
          <li>大小： {{ videoContent.file_size }}</li>
          <li>格式： {{ videoContent.video_type }}</li>
          <li>时长： {{ videoContent.time }}</li>
          <li>下载： {{ videoContent.point }}积分【Vip免积分】</li>
          <li><a href="https://www.__host.com/vip.html"><i class="icon-recharge"></i> 点击在线充值</a></li>
          <li>更新时间：{{ videoContent.update_time | date('Y-m-d') }}</li>
        </ol>
      </div>
    </section>

    <section class="content-infos clearfix">
      <h2>内容介绍</h2>
      <div class="fr-view markdown-body editormd-preview-container">
        {{ videoContent.content | raw }}
      </div>
    </section>
    {% if resRelatedGroup_soft[18] %}
    <section class="rel-video">
      <h2>相关视频</h2>
      <ul class="videos-wrap clearfix">
        {{ component.index_list(resRelatedGroup_soft[18], 8, '') }}
      </ul>
    </section>
    {% endif %}
    {% if special_info %}
    <section class="rel-topic">
      <h2>相关专题</h2>
      <div class="topic-info">
        <div class="topic-bg"><img src="{{ special_info.thumbs }}">
        </div>
        <div class="info-con">
          <p class="title">{{ special_info.title }} (共{{ special_info.res_num }}个视频)</p>
          <p class="desc">{{ special_info.description }}</p>
          <p class="time">更新时间：{{ special_info.create_time | date('Y-m-d') }}</p>
        </div>
      </div>
      <ul class="videos-wrap clearfix">
        {{ component.list(special_info.content) }}
      </ul>
      <a class="more-topic" href="{{ special_info.url }}">进入专题</a>
    </section>
    {% endif %}
  </div>
  <input type="hidden" id="content-info" data-src="{{ videoContent.thumb }}" data-id="{{ videoContent.id }}"
    data-model="18" data-point="{{ videoContent.point }}" data-url="{{ url }}" data-title="{{ videoContent.title }}">
</main>
{% endblock %}

{% block script %}
<script src="js/content.min.js"></script>
{% endblock %}