{% extends 'inc/base.twig' %}
{% import "components/index.twig" as component %}

{% block css %}
<link rel="stylesheet" href="css/content.min.css">
{% endblock %}

{% block content %}
<main>
  <div class="content-bg">
    <img src="{{ videoContent.thumb }}">
  </div>
  <div class="container">
    <div class="breakhumbs">
      <a href="/">首页</a>
      &gt; <a href="{{ category_data.parent_cate_url }}">{{ category_data.parent_cate_name }}</a>
      &gt; <a href="{{ category_data.url }}">{{ category_data.cate_name }}</a>
      &gt; <span>{{ videoContent.title }}</span>
    </div>

    <section class="content-video">
      <div class="content-video_wrap">
        <div class="video-box">
          <div class="water-marker">__host.com</div>
          <video controls loop autoplay preload="meta">
            <source src="{{ videoContent.preview_url }}">
          </video>
          <div class="video-play"></div>
        </div>
        <div class="video-title_box">
          <h1>{{ videoContent.title }}</h1>
          <div class="video-btns">
            <button id="support"><i class="icon-support"></i><span>{{ videoContent.click_good }}</span></button>
            <button id="collect"><i class="icon-collect"></i><span>收藏</span></button>
            <button id="download">立即下载</button>
          </div>
        </div>
        <ol>
          <li><i class="icon-video"></i> {{ videoContent.resolution }}</li>
          <li><i class="icon-size"></i> {{ videoContent.file_size }}</li>
          <li><i class="icon-video2"></i> {{ videoContent.video_type }}</li>
          <li><i class="icon-time"></i> {{ videoContent.time }}</li>
          <li><i class="icon-point"></i> {{ videoContent.point }}积分【Vip免积分】</li>
          <li><a href="https://www.__host.com/vip.html"><i class="icon-recharge"></i> 点击在线充值</a></li>
        </ol>
      </div>
    </section>
    <section class="rel-video">
      <div class="swiper-container" id="relvideo-swiper">
        <ul class="swiper-wrapper">
          {% for item in resRelatedGroup_soft[18] %}
          <li class="swiper-slide"><a href="{{ item.url }}" title="{{ item.title }}">
              <img src="{{ item.thumb }}" alt="{{ item.title }}">
            </a></li>
          {% endfor %}
        </ul>
      </div>
      {% if resRelatedGroup_soft[18] | length > 4 %}
      <div class="swiper-button-prev swiper-btn"></div>
      <div class="swiper-button-next swiper-btn"></div>
      {% endif %}
    </section>
    <section class="content-infos clearfix">
      <aside>
        <div class="content-thumb">
          <img src="{{ videoContent.thumb }}" alt="{{ videoContent.title }}">
        </div>
        {% if resRelatedGroup_soft[17][0] %}
        <div class="rec-plugin">
          <p>推荐插件：</p>
          <a href="{{ resRelatedGroup_soft[17][0].url }}">
            <div class="img"><img src="{{ resRelatedGroup_soft[17][0].thumb }}"
                alt="{{ resRelatedGroup_soft[17][0].title }}"></div>
            <p class="title">{{ resRelatedGroup_soft[17][0].title }}</p>
          </a>
        </div>
        {% endif %}
      </aside>
      <article>
        <h2>{{ videoContent.title }}</h2>
        {% if videoContent.vjx_url %}
        <div class="teach" id="teach-temp" data-url="{{ videoContent.vjx_url }}">【 模板使用教程 】</div>
        {% endif %}
        <p class="rec-soft">推荐软件：<a href="{{ needInfo.link }}"><img src="{{ needInfo.thumb }}">
            {{ needInfo.description }}</a></p>
        <div class="video-desc">{{ videoContent.content | raw }}</div>
      </article>
    </section>
    {% if special_info %}
    <section class="rel-topic">
      <div class="sec-title">
        <h2>专题 <em>——</em> {{ special_info.title }}</h2>
        <a href="{{ special_info.url }}">查看专题 &gt;</a>
      </div>
      <ul class="topic-list clearfix">
        {{ component.list(special_info.content) }}
      </ul>
    </section>
    {% endif %}
  </div>
  <input type="hidden" id="content-info" data-src="{{ videoContent.thumb }}" data-id="{{ videoContent.id }}"
    data-model="18" data-point="{{ videoContent.point }}" data-url="{{ url }}" data-title="{{ videoContent.title }}">
</main>
{% endblock %}

{% block script %}
<script src="js/content.min.js"></script>
{% endblock %}