{% extends 'inc/base.twig' %}
{% import "components/index.twig" as component %}

{% block css %}
<base target="_blank">
<link rel="stylesheet" href="css/index.min.css">
{% endblock %}

{% block content %}
<main>
	<section class="banner">
		<div class="video-bg">
			<video src="{{ index_banner[0].description }}" muted loop autoplay></video>
		</div>
		<div class="container">
			<div class="video-form">
				<form id="video-search">
					<input type="text" placeholder="视频模板 应有尽有">
					<button><i class="icon-search"></i>搜索</button>
				</form>
				{% if hot_keyword %}
				<p class="hot-keys">
					热门搜索：
					{% for item in hot_keyword %}
					<a href="/search/{{ item.keyword }}.html">{{ item.keyword }}</a>
					{% endfor %}
				</p>
				{% endif %}
			</div>
		</div>
	</section>
	<div class="container">
		<section class="index-show">
			<div class="index-show_swiper">
				<p class="index-title">精选视频库 应有尽有</p>
				<p class="index-desc">这里不止及你所想，还有更多惊喜尽在其中…</p>
				<div class="swiper-container" id="index-swiper">
					<ul class="swiper-wrapper">
						{% for item in indexShowVideos | slice(0, 4) %}
						<li class="swiper-slide">
							<div class="video">
								<video muted loop poster="{{ item.thumb }}" data-src="{{ item.preview_url }}"></video>
								<div class="video-play"></div>
							</div>
						</li>
						{% endfor %}
					</ul>
					<div class="swiper-pagination"></div>
				</div>
				<div class="swiper-btns">
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
				<div class="index-infos-wrap">
					{% for i,item in indexShowVideos | slice(0, 4) %}
					<div class="video-info {% if i == 0 %}active{% endif %}">
						<a href="{{ item.url }}">
							<p class="title">{{ item.title }}</p>
							<p class="desc">{{ item.description }}</p>
							<button>立即下载</button>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
			<ul class="video-list videos-wrap clearfix">
				{% for item in indexShowVideos | slice(4, 4) %}
				<li data-src="{{ item.preview_url }}">
					<a href="{{ item.url }}" title="{{ item.title }}">
						<div class="img">
							<img src="{{ item.thumb }}" alt="{{ item.title }}">
						</div>
					</a></li>
				{% endfor %}
			</ul>
		</section>
		<section class="newest-video">
			<h2>最新视频</h2>
			<div class="newest-video_wraps clearfix">
				<div class="sec-title">
					<h3>AE模板</h3>
					<span class="check"><img src="/assets/images/random.png" height="16">换一批</span>
				</div>
				<div class="newest-info">
					<a href="/aelist/">
						<p class="title">AE模板</p>
						<p class="num">共{{ cate_res_num['ae'] }}个视频</p>
						<span>查看更多</span>
					</a>
				</div>
				<ul class="newest-lis videos-wrap clearfix">
					{{ component.index_list(aeList, 4, 'ae') }}
				</ul>
			</div>
			<div class="newest-video_wraps clearfix">
				<div class="sec-title">
					<h3>PR模板</h3>
					<span class="check"><img src="/assets/images/random.png" height="16">换一批</span>
				</div>
				<div class="newest-info">
					<a href="/prlist/">
						<p class="title">PR模板</p>
						<p class="num">共{{ cate_res_num['pr'] }}个视频</p>
						<span>查看更多</span>
					</a>
				</div>
				<ul class="newest-lis videos-wrap clearfix">
					{{ component.index_list(prList, 4, 'pr') }}
				</ul>
			</div>
			<div class="newest-video_wraps clearfix">
				<div class="sec-title">
					<h3>视频素材</h3>
					<span class="check"><img src="/assets/images/random.png" height="16">换一批</span>
				</div>
				<div class="newest-info">
					<a href="/vlist/">
						<p class="title">视频素材</p>
						<p class="num">共{{ cate_res_num['v'] }}个视频</p>
						<span>查看更多</span>
					</a>
				</div>
				<ul class="newest-lis videos-wrap clearfix">
					{{ component.index_list(videoList, 4, 'v') }}
				</ul>
			</div>
      <div class="newest-video_wraps clearfix">
        <div class="sec-title">
          <h3>Fcpx模板</h3>
          <span class="check"><img src="/assets/images/random.png" height="16">换一批</span>
        </div>
        <div class="newest-info">
          <a href="/flist/">
            <p class="title">Fcpx模板</p>
            <p class="num">共{{ cate_res_num['fcpx'] }}个视频</p>
            <span>查看更多</span>
          </a>
        </div>
        <ul class="newest-lis videos-wrap clearfix">
          {{ component.index_list(fList, 4, 'fcpx') }}
        </ul>
      </div>
		</section>
		<section class="hot-topic">
			<h2>热门专题</h2>
			<ul class="clearfix">
				{{ component.index_topic(video_special_data) }}
			</ul>
		</section>
	</div>
</main>
{% endblock %}

{% block script %}
<script src="js/index.min.js"></script>
{% endblock %}