{% extends 'inc/base.twig' %}
{% import "components/index.twig" as component %}
{% import "components/pagination.twig" as pagi %}

{% block css %}
<link rel="stylesheet" href="css/topic-list.min.css">
{% endblock %}

{% block content %}
<main>
  <section class="list-banner">
    {% set randomNum = random(video_special_data | length - 1) %}
    <div class="bg-img">
      <img src="{{ video_special_data[randomNum].thumb_arr[0].thumb }}">
      <div class="mask"></div>
    </div>
    <div class="container">
      <div class="breakhumbs">
        <a href="/">首页</a>
        &gt; <a href="/z/">专题</a>
        {% for item in special_cate_info if item.id == cat_id %}
        &gt; <span>{{ item.cate_name }}</span>
        {% endfor %}
      </div>
      <div class="list-infos">
        <h1>专题</h1>
        <p class="desc">{{ page_desc }}</p>
      </div>
      <div class="list-nav">
        <a href="/z/" {% if cat_id == 0 %}class="active" {% endif %}>全部</a>
        {% for item in special_cate_info %}
        <a href="{{ item.url }}" {% if cat_id == item.id %}class="active" {% endif %}>{{ item.cate_name }}</a>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="topic-list">
    <div class="container">
      <ul class="video-ul clearfix">
        {{ component.topic(video_special_data) }}
      </ul>
    </div>
  </section>
  {{ pagi.pagi(total, page, 15, '/z/l_' ~ cat_id) }}
</main>
{% endblock %}

{% block script %}
<script src="js/list.min.js"></script>
{% endblock %}