{% extends 'inc/base.twig' %}
{% import "components/index.twig" as component %}

{% block css %}
  <link rel="stylesheet" href="css/template-content.min.css">
{% endblock %}

{% block content %}
  <main>
    <section>
      <h1>{{ template_content.title }}</h1>
    </section>
    {% if video %}
    <section class="video-imgs">
        <div class="content-video">
          {% for item in video %}
            <video src="{{ item }}" preload="meta" controls></video>
          {% endfor %}
        </div>
    </section>
    {% endif %}
    <section class="content-info">
      <div class="soft-box">
        <div class="con">
          <span>页数：{{ template_content.num }}页</span>
          <span>比例：{{ template_content.proportion }}</span>
          <span>格式：{{ template_content.format }}</span>
          <span>大小：{{ template_content.file_size }}</span>
          <span>时间：{{ template_content.update_time | date('Y.m.d') }}</span>
          <span>积分：{{ template_content.point }}</span>
        </div>
      </div>
      <button class="download">请前往PC端网页下载</button>
    </section>

    <section class="video-imgs">
      {% if content_img %}
        {% for item in content_img %}
          <div class="img"><img src="{{ item }}"></div>
        {% endfor %}
      {% else %}
        <div class="img">
          <img src="{{ template_content.thumb }}">
        </div>
      {% endif %}
    </section>
    <section class="content-desc">
      <h2>内容介绍</h2>
      <div class="fr-view">
        <div class="content-box">
          {{ template_content.content | markdown_to_html }}
        </div>
        {% if template_content.content %}
          <div class="show-off"><em>展开</em> &gt;</div>
        {% endif %}
      </div>
    </section>
    {% if resRelatedGroup_soft[19] %}
      <section class="rel-soft">
        <h2>相关模板</h2>
        {{ component.template(resRelatedGroup_soft[19]) }}
      </section>
    {% endif %}
    {% if resRelatedGroup_soft[1] %}
      <section class="rel-article">
        <h2>相关文章</h2>
        {{ component.article(resRelatedGroup_soft[1]) }}
      </section>
    {% endif %}
    {% if resRelatedGroup_soft[0] %}
      <section class="rel-topic">
        <h2>相关专题</h2>
        {{ component.topic_template(resRelatedGroup_soft[0]) }}
      </section>
    {% endif %}
    <input type="hidden" id="content-info" data-model="{{ template_content.model_id }}" data-id="{{ template_content.id }}">  </main>
{% endblock %}

{% block script %}
  <script src="js/template-content.min.js"></script>
{% endblock %}
