{% extends 'inc/base.twig' %}
{% import "components/index.twig" as component %}

{% block css %}
  <link rel="stylesheet" href="css/topic-content.min.css">
{% endblock %}

{% block content %}
  <main>
    <section class="topic-info">
      <h1>{{ special_info.title }}</h1>
      <p class="desc">{{ special_info.description }}</p>
      <p class="info">
        <span>共{{ special_content | length }}款模板</span>
        <span>时间：{{ special_info.create_time | date('Y.m.d') }}</span>
      </p>
    </section>
    <section class="topic-content">
      {{ component.template(special_content) }}
    </section>
    {% if article_info %}
      <section class="rel-article">
        <h2>相关文章</h2>
        {{ component.article(article_info) }}
      </section>
    {% endif %}
  </main>
{% endblock %}


