{% extends 'inc/base_material.twig' %}
{% import "components/material.twig" as component %}

{% block css %}
  <link rel="stylesheet" href="css/material-index.min.css">
{% endblock %}

{% block content %}
  <main>
    <section class="banner">
      <div class="swiper-container">
        <ul class="swiper-wrapper">
          {% for item in index_banner %}
            <li class="swiper-slide">
              <a href="{{ item.url }}">
                <img src="{{ item.image }}">
              </a>
            </li>
          {% endfor %}
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </section>
    <section class="newest">
      <div class="sec-title">
        <h2>最新更新</h2>
        <a href="/sc/list/" class="fr"><i class="icon-arrow"></i></a>
      </div>
      <ul class="clearfix">
        {% for item in photo_data %}
          <li><a href="{{ item.url }}"><img src="{{ item.thumb }}" alt="{{ item.title }}"></a></li>
        {% endfor %}
      </ul>
    </section>
    <section class="boutique-atlas">
      <div class="sec-title">
        <h2>最新图集</h2>
        <a href="/sc/atlas/" class="fr"><i class="icon-arrow"></i></a>
      </div>
      {{ component.atlas(atlas_data) }}
    </section>
    <section class="boutique-topic">
      <div class="sec-title">
        <h2>精品专题</h2>
        <a href="/sc/z/" class="fr"><i class="icon-arrow"></i></a>
      </div>
      {{ component.topic(specialBestInfo) }}
    </section>
  </main>
{% endblock %}

{% block script %}
  <script src="js/material-index.min.js"></script>
{% endblock %}