{% extends 'inc/base_video.twig' %}
{% import "components/video.twig" as component %}

{% block css %}
  <link rel="stylesheet" href="css/video-index.min.css">
{% endblock %}

{% block content %}
  <main>
    <section class="banner">
      <div class="swiper-container">
        <ul class="swiper-wrapper">
          {% for item in indexShowVideos | slice(0, 4) %}
            <li class="swiper-slide">
              <a href="{{ item.url }}">
                <img src="{{ item.thumb }}">
              </a>
            </li>
          {% endfor %}
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </section>
    <section class="newest-video">
      <div class="sec-title">
        <h2>最新更新</h2>
      </div>
      {{ component.video(indexShowVideos | slice(4, 4)) }}
    </section>

    <section>
      <div class="sec-title">
        <h2>精选AE模板</h2>
      </div>
      {{ component.video(aeList) }}
    </section>
    <section>
      <div class="sec-title">
        <h2>精选PR模板</h2>
      </div>
      {{ component.video(prList) }}
    </section>
    <section>
      <div class="sec-title">
        <h2>精选视频模板</h2>
      </div>
      {{ component.video(videoList) }}
    </section>
    <section>
      <div class="sec-title">
        <h2>精选Fcpx模板</h2>
      </div>
      {{ component.video(fList) }}
    </section>

    <section>
      <div class="sec-title">
        <h2>精选专题</h2>
        <a href="/z/lv/" class="fr"><i class="icon-arrow"></i></a>
      </div>
      {{ component.topic(video_special_data) }}
    </section>
    <section class="video-rank">
      <div class="sec-title">
        <h2>视频排行</h2>
        <a href="/rank/v/" class="fr"><i class="icon-arrow"></i></a>
      </div>
      <div class="rank-wrap">
        <ul>
          {% for item in videoRank %}
            <li><a href="{{ item.url }}">
                <div class="img">
                  <span class="video-play"></span>
                  <img src="{{ item.thumb }}" alt="{{ item.title }}">
                </div>
                <p class="title">{{ item.title }}</p>
              </a></li>
          {% endfor %}
        </ul>
      </div>
    </section>
  </main>
{% endblock %}

{% block script %}
  <script src="js/video-index.min.js"></script>
{% endblock %}