{% extends 'inc/base.twig' %}
{% import "components/index.twig" as component %}

{% block css %}
<link rel="stylesheet" href="css/template-index.min.css">
{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="breadcrumbs">
      <a href="/">首页</a>
      &gt; <span>模板</span>
    </div>
    <section class="plugin-classify">
      <div class="sec-title">
        <h2>浏览分类</h2>
      </div>
      <ul>
        {% for item in templateCategories %}
        <li><a href="{{ item.url }}">
            <p><img src="{{ item.thumb }}">{{ item.cate_name }}</p>
          </a></li>
        {% endfor %}
      </ul>
    </section>
    <section class="newest">
      <div class="sec-title">
        <h2>最新更新</h2>
        {% if newTemplate | length > 8 %}
        <div class="sec-check">
          <span class="active">&lt;</span>
          <span>&gt;</span>
        </div>
        {% endif %}
      </div>
      <div>
        <ul class="active template clearfix">
          {{ component.templates(newTemplate | slice(0,8)) }}
        </ul>
        <ul class="template clearfix">
          {{ component.templates(newTemplate | slice(8,8)) }}
        </ul>
      </div>
    </section>
    <section class="boutique-topic">
      <div class="sec-title">
        <h3>精选专题</h3>
        <a href="/z/lmb_1_1.html">更多专题 →</a>
      </div>
      <ul class="template clearfix">
        {{ component.topic_template(templateSpecialData) }}
      </ul>
    </section>
    <section class="newest">
      <div class="sec-title">
        <h3>精选模板</h3>
        <a href="/mblist/0_0_1.html">更多 →</a>
      </div>
      <ul class="active template clearfix">
        {{ component.templates(selectedTemplate) }}
      </ul>
    </section>
  </div>
</main>
{% endblock %}

{% block script %}
<script src="js/plugin-index.min.js"></script>
{% endblock %}