{% extends 'inc/base.twig' %}
{% import "components/index.twig" as component %}

{% block css %}
<base target="_blank">
<link rel="stylesheet" href="css/index.min.css">
{% endblock %}

{% block content %}
<main>
	<section class="banner">
    <ul class="banner-box">
      {% for i,item in first_mac %}
        <li {% if i == 4 %}class="active"{% endif %}>
          <a href="{{ item.url }}" title="{{ item.title }}">
            <div class="img-bg"><img src="/assets/images/bgs/banner-bg.jpg"></div>
            <div class="item-box">
              <div class="item-img">
                <img src="{{ item.thumb }}" alt="{{ item.title }}">
              </div>
              <div class="item-info">
                <p class="title">{{ item.title }}</p>
                <p class="infos">
                  <span>大小： {{ item.file_size }}</span>
                  <span>时间： {{ item.update_time }}</span>
                  <span>语言： {{ item.language }}</span>
                  <span>积分： {{ item.point }}积分</span>
                  <span>系统： {{ item.systems }}</span>
                </p>
                <div class="btn">
                  <button>立即下载</button>
                </div>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
	</section>
	<section class="recommend">
		<div class="container">
			<div class="recommend-nav">
				<span class="active">
					<em>
						<i class="icon-support"></i>
						精品推荐
					</em>
				</span>
				<span>
					<em>应用</em>
				</span>
				<span>
					<em>插件</em>
				</span>
				<span>
					<em>模板</em>
				</span>
				<span>
					<em>壁纸</em>
				</span>
			</div>
			<div class="recommend-wrap">
        <div class="recommend-box active">
          <div class="ul-box">
            <ul class="soft clearfix">
              {{ component.soft(mac_newest_recommend | slice(0, 10)) }}
            </ul>

            <ul class="soft clearfix">
              {{ component.soft(mac_newest_recommend | slice(10, 10), true) }}
            </ul>
          </div>
        </div>

        <div class="recommend-box">
          <div class="ul-box">
            <ul class="soft clearfix">
              {{ component.soft(newest_mac | slice(0, 10)) }}
            </ul>

            <ul class="soft clearfix">
              {{ component.soft(newest_mac | slice(10, 10), true) }}
            </ul>
          </div>
        </div>

        <div class="recommend-box">
          <div class="ul-box">
            <ul class="plugin clearfix">
              {{ component.plugin(newest_mac_plug | slice(0, 8)) }}
            </ul>

            <ul class="plugin clearfix">
              {{ component.plugin(newest_mac_plug | slice(8, 8), true) }}
            </ul>
          </div>
        </div>

        <div class="recommend-box">
          <div class="ul-box">
            <ul class="templates clearfix">
              {{ component.templates(newest_template | slice(0, 8)) }}
            </ul>

            <ul class="templates clearfix">
              {{ component.templates(newest_template | slice(8, 10), true) }}
            </ul>
          </div>
        </div>

        <div class="recommend-box">
          <div class="ul-box">
            <ul class="wallpaper clearfix">
              {{ component.wallpaper(newest_dest | slice(0, 6)) }}
            </ul>

            <ul class="wallpaper clearfix">
              {{ component.wallpaper(newest_dest | slice(6, 6), true) }}
            </ul>
          </div>
        </div>
			</div>

      <div class="recommend-pagi">
        <div class="pagi-btn active">
          <span></span>
        </div>
        <div class="pagi-btn">
          <span></span>
        </div>
      </div>
		</div>
	</section>
	<section class="newest-video">
		<div class="container">
			<div class="section-title">
				<h2>最新视频</h2>
				<a href="https://v.__host.com">更多视频 →</a>
			</div>
			<div class="newest-video_wrap">
				<ul class="clearfix">
          {{ component.video_list(video_newest) }}
				</ul>
			</div>
		</div>
	</section>
	<section class="newest-material">
		<div class="container">
			<div class="section-title">
				<h2>最新素材</h2>
				<a href="https://sc.__host.com">更多素材 →</a>
			</div>
			<div class="newest-material_wrap clearfix">
				<ul class="clearfix">
          {{ component.material_list(newest_material) }}
				</ul>
			</div>
		</div>
	</section>
	<section class="boutique-app">
		<div class="container">
			<div class="section-title">
				<h2>精品应用</h2>
        <a href="/list/">更多应用 →</a>
			</div>
			<div class="boutique-app_wrap">
				<ul class="clearfix">
					{{ component.soft(recommend_mac_soft) }}
				</ul>
			</div>
		</div>
	</section>
	<section class="boutique-plugin">
		<div class="container">
			<div class="section-title">
				<h2>精品插件</h2>
				<a href="/cjlist/">更多插件 →</a>
			</div>
			<ul class="boutique-plugin_wrap clearfix">
				{{ component.plugin(recommend_plug) }}
			</ul>
			<div class="section-title boutique-template">
				<h2>精品模板</h2>
				<a href="/mblist/">更多模板 →</a>
			</div>
			<ul class="boutique-plugin_template clearfix">
				{{ component.templates(recommend_template) }}
			</ul>
		</div>
	</section>
	<section class="newest-article">
		<div class="container">
			<div class="section-title">
				<h2>最新文章</h2>
				<a href="/nlist/">更多文章 →</a>
			</div>
			<div class="article-wraps">
        <ul class="active clearfix">
          {{ component.article(mac_article_newest | slice(0, 6)) }}
        </ul>
        <ul class="clearfix">
          {{ component.article(mac_article_newest | slice(6, 6)) }}
        </ul>
      </div>
      <div class="article-check">
        <span class="active"></span>
        <span></span>
      </div>
		</div>
	</section>
	<section class="rank">
		<div class="container">
			<div class="rank-warp clearfix">
				<div class="rank-title">
					<div class="rank-title_l"><a href="/rank/soft.html">软件<p>TOP 5</p></a>
					</div>
					<div class="rank-title_m">排行榜</div>
					<div class="rank-title_r"><a href="/rank/soft.html">软件<p>TOP 10</p></a>
					</div>
					<div class="lines">
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
					</div>
				</div>
				<ul class="rank-warp_soft">
					{% for item in rank_soft | slice(0, 5) %}
					<li>
						<a href="{{ item.url }}">
							<div class="img-bg"><img src="{{ item.thumb }}"></div>
							<div class="item">
								<div class="img"><img src="{{ item.thumb }}" alt="{{ item.title }}"></div>
								<div class="con">
									<p class="title">{{ item.title }}</p>
									<span>{{ item.version }}</span>
								</div>
							</div>
						</a>
					</li>
					{% endfor %}
				</ul>
				<ul class="rank-warp_game">
					{% for item in rank_soft | slice(5, 5) %}
					<li>
						<a href="{{ item.url }}">
							<div class="img-bg"><img src="{{ item.thumb }}"></div>
							<div class="item">
								<div class="img"><img src="{{ item.thumb }}" alt="{{ item.title }}"></div>
								<div class="con">
									<p class="title">{{ item.title }}</p>
									<span>{{ item.version }}</span>
								</div>
							</div>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</section>
  <input type="hidden" id="index-page">
</main>
{% endblock %}

{% block script %}
<script src="js/index.min.js"></script>
{% endblock %}