{% extends 'inc/base.twig' %}
{% import "components/index.twig" as component %}

{% block css %}
<base target="_blank">
<link rel="stylesheet" href="css/index.min.css">
{% endblock %}

{% block content %}
<main>
	<section class="banner">
		<div class="swiper-container">
			<ul class="swiper-wrapper">
				{% for item in first_mac %}
				<li class="swiper-slide">
					<a href="{{ item.url }}" title="{{ item.title }}">
						<div class="img-bg"><img src="{{ item.thumb }}"></div>
						<div class="item-info">
							<div class="img">
								<img src="{{ item.thumb }}" alt="{{ item.title }}">
							</div>
							<div class="info">
								<p class="title">{{ item.title }}</p>
								<span>{{ item.version }}</span>
							</div>
						</div>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<!--左箭头-->
		<div class="swiper-button-prev banner-arrow"></div>
		<!--右箭头-->
		<div class="swiper-button-next banner-arrow"></div>
	</section>
	<section class="recommend">
		<div class="container">
			<div class="recommend-nav">
				<span class="active">
					<em>
						<i class="icon-support"></i>精品推荐</em>
				</span>
				<span>
					<em>软件</em>
				</span>
				<span>
					<em>游戏</em>
				</span>
				<span>
					<em>插件</em>
				</span>
				<span>
					<em>模板</em>
				</span>
			</div>
			<div class="recommend-wrap">
				<ul class="soft clearfix active">
					{{ component.soft(mac_newest_recommend) }}
				</ul>
				<ul class="soft clearfix">
					{{ component.soft(mac_newest_soft) }}
				</ul>
				<ul class="soft clearfix">
					{{ component.soft(mac_newest_game) }}
				</ul>
				<ul class="template clearfix">
					{{ component.template(newest_mac_plug) }}
				</ul>
				<ul class="template clearfix">
					{{ component.template(newest_template) }}
				</ul>
			</div>
		</div>
	</section>
	<section class="newest-video">
		<div class="container">
			<div class="section-title">
				<h2>最新视频</h2>
				<a href="">更多视频 →</a>
			</div>
			<div class="newest-video_wrap">
				<ul>
					{% for i,item in video_newest %}
					<li {% if i == 0 %} class="active" {% endif %}>
						<div class="video-wrap">
							<video muted loop poster="{{ item.thumb }}" data-src="{{ item.preview_url }}"></video>
							<div class="video-play"></div>
						</div>
						<div class="video-info">
							<a href="{{ item.url }}">
								<p class="title">{{ item.title }}</p>
								<p class="infos">
									<span>
										<i class="icon-video"></i>
										{{ item.resolution }}
									</span>
									<span>
										<i class="icon-video2"></i>
										{{ item.video_type }}
									</span>
									<span>
										<i class="icon-size"></i>
										{{ item.file_size }}</span>
									<span>
										<i class="icon-time"></i>
										{{ item.time }}
									</span>
									<br>
									<span>
										<i class="icon-point"></i>
										{{ item.point }}积分[Vip免积分]</span>
								</p>
								<button>立即下载</button>
							</a>
						</div>
					</li>
					{% endfor %}
				</ul>
				<div class="video-pagi">
					<div class="video-pagi_num">
						<em>01</em>/0{{ video_newest | length }}
					</div>
					<div class="video-pagi_btns">
						<button class="btn-prev">←</button>
						<button class="btn-next">→</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="newest-material">
		<div class="container">
			<div class="section-title">
				<h2>最新素材</h2>
				<a href="">更多素材 →</a>
			</div>
			<div class="newest-material_wrap clearfix">
				<ul class="newest-material_info">
					{% for i,item in newest_material %}
					<li {% if i == 0 %} class="active" {% endif %}>
						<a href="{{ item.url }}">
							<p class="number">
								<em>0{{ i + 1 }}</em>/0{{ newest_material | length }}</p>
							<p class="title">{{ item.title }}</p>
							<button>立即下载</button>
						</a>
					</li>
					{% endfor %}
				</ul>
				<ul class="newest-material_pics">
					{% for i,item in newest_material %}
					<li {% if i == 0 %} class="active" {% endif %}>
						<a href="{{ item.url }}">
							<div class="img">
								<i class="num">0{{ i + 1 }}</i>
								<img src="{{ item.thumb }}" alt="{{ item.title }}">
							</div>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</section>
	<section class="boutique-app">
		<div class="container">
			<div class="section-title">
				<h2>精品应用</h2>
				<div class="boutique-app_type">
					<span class="active">软件</span>
					<span>游戏</span>
				</div>
			</div>
			<div class="boutique-app_wrap">
				<ul class="clearfix active">
					{{ component.soft(recommend_mac_soft) }}
				</ul>
				<ul class="clearfix">
					{{ component.soft(recommend_mac_game) }}
				</ul>
			</div>
		</div>
	</section>
	<section class="boutique-plugin">
		<div class="container">
			<div class="section-title">
				<h2>精品插件</h2>
				<a href="">更多插件 →</a>
			</div>
			<ul class="boutique-plugin_wrap clearfix">
				{{ component.plugin(recommend_plug) }}
			</ul>
			<div class="section-title">
				<h2>精品模板</h2>
				<a href="">更多模板 →</a>
			</div>
			<ul class="boutique-plugin_template clearfix">
				{{ component.template(recommend_template) }}
			</ul>
		</div>
	</section>
	<section class="newest-article">
		<div class="container">
			<div class="section-title">
				<h2>最新文章</h2>
				<a href="">更多文章 →</a>
			</div>
			<ul class="clearfix">
				{{ component.article(mac_article_newest ) }}
			</ul>
		</div>
	</section>
	<section class="rank">
		<div class="container">
			<div class="rank-warp clearfix">
				<div class="rank-title">
					<div class="rank-title_l">软件<p>TOP 5</p>
					</div>
					<div class="rank-title_m">排行榜</div>
					<div class="rank-title_r">游戏<p>TOP 5</p>
					</div>
					<div class="lines">
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
						<i></i>
					</div>
				</div>
				<ul class="rank-warp_soft">
					{% for item in rank_soft %}
					<li>
						<a href="{{ item.url }}">
							<div class="img-bg"><img src="{{ item.thumb }}"></div>
							<div class="item">
								<div class="img"><img src="{{ item.thumb }}" alt="{{ item.title }}"></div>
								<div class="con">
									<p class="title">{{ item.title }}</p>
									<span>{{ item.version }}</span>
								</div>
							</div>
						</a>
					</li>
					{% endfor %}
				</ul>
				<ul class="rank-warp_game">
					{% for item in rank_game %}
					<li>
						<a href="{{ item.url }}">
							<div class="img-bg"><img src="{{ item.thumb }}"></div>
							<div class="item">
								<div class="img"><img src="{{ item.thumb }}" alt="{{ item.title }}"></div>
								<div class="con">
									<p class="title">{{ item.title }}</p>
									<span>{{ item.version }}</span>
								</div>
							</div>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</section>
</main>
{% endblock %}

{% block script %}
<script src="js/index.min.js"></script>
{% endblock %}