{% extends 'inc/base.twig' %}
{% import "components/index.twig" as component %}

{% block meta %}
<meta property="og:type" content="soft" />
<meta property="og:description" content="{{ mac_content.description }}" />
<meta property="og:soft:file_size" content="{{ mac_content.file_size }}" />
<meta property="og:soft:operating_system" content="{{ mac_content.systems }}" />
<meta property="og:image" content="{{ mac_content.thumb }}" />
<meta property="og:release_date" content="{{ mac_content.update_time | date('Y-m-d') }}" />
<meta property="og:title" content="{{ mac_content.title }}" />
<meta property="og:soft:download_count " content="{{ mac_content.hits_total }}" />
<meta property="og:soft:language" content="{{ mac_content.language }}" />
<meta property="og:soft:license" content="{{ mac_content.copy_type }}" />
<meta property="og:soft:url" content="{{ url }}" />
{% endblock %}

{% block css %}
<base target="_blank">
<link rel="stylesheet" href="css/mac-content.min.css">
{% endblock %}

{% block content %}
<main>
	<section class="content">
		<div class="container">
			<div class="breakhumbs">
				<a href="/">首页</a>
				&gt;
				<a href="/list/">应用</a>

				{% if mac_content.parent_id_cate_name %}
				&gt;
				<a href="{{ mac_content.category_url_by_parent_id }}">{{ mac_content.parent_id_cate_name }}</a>
				{% endif %}
				{% if mac_content.cate_name %}
				&gt;
				<a href="{{ mac_content.category_url }}">{{ mac_content.cate_name }}</a>
				{% endif %}
				&gt;
				<span>{{ mac_content.title }}
					{{ mac_content.version }}</span>
			</div>
			<div class="content-info">
				<div class="content-info_wrap">
					<div class="content-info_con">
						<h1>{{ mac_content.title }}
							{{ mac_content.version }}</h1>
						<p class="infos">
							<span>
								<i class="icon-time"></i>
								{{ mac_content.update_time | date('Y-m-d') }}</span>
							<span>
								<i class="icon-point3"></i>
								{{ mac_content.point }}
								积分</span>
							<span>
								<i class="icon-qq"></i>
								客服QQ：{{ customer_qq }}</span>
						</p>
						<div class="btns">
							<div class="download-box">
								<button class="download" id="download">立即下载</button>
								<div class="down-tips">
									<a href="/news/1.html" target="_blank">【安装软件遇到提示损坏，打不开，来自xx不明的开发者，详见：
										<em>解决方法 </em>】
									</a>
								</div>
							</div>
							<button class="btns-fn" id="collect">
								<i class="icon-collect"></i><span>点击收藏</span></button>
							<button class="btns-fn" id="support">
								<i class="icon-support"></i>
								<em>
									{{  mac_content.click_good }}
								</em>
							</button>
							<button class="btns-fn" id="share">
								<i class="icon-share"></i>分享有礼</button>
						</div>
					</div>
					<div class="content-info_img">
						<span>
							<i class="icon-size2"></i>
							{{ mac_content.file_size }}</span>
						<span>
							<i class="icon-language"></i>
							{{ mac_content.language }}</span>
						<span>
							<i class="icon-menu"></i>
							{{ mac_content.res_type }}</span>
						<span>
							<i class="icon-os"></i><br>
							{{ mac_content.systems }}</span>
						<div class="img">
							<div class="img-bg"><img src="{{ mac_content.thumb }}"></div>
							<img src="{{ mac_content.thumb }}" alt="{{ mac_content.title }}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% if video or images %}
	<section class="screenshot">
		<div class="container">
			<h2>软件界面</h2>
			<div class="screenshot-wrap">
				<div class="swiper-container screenshot-swiper">
					<ul class="swiper-wrapper">
						{% for i,item in video %}
						<li class="swiper-slide">
							<div class="img-wrap {% if i == 0 %}active{% endif %}">
								<video src="{{ item }}" preload="meta" controls></video>
								<span class="video-play"></span>
							</div>
						</li>
						{% endfor %}
						{% for i,item in images %}
						<li class="swiper-slide">
							<div class="img-wrap {% if i == 0 and video | length == 0 %}active{% endif %}"><img src="{{ item }}">
							</div>
						</li>
						{% endfor %}
					</ul>
					<div class="swiper-pagination"></div>
				</div>
				<!--左箭头-->
				<div class="swiper-button-prev screenshot-arrow"></div>
				<!--右箭头-->
				<div class="swiper-button-next screenshot-arrow"></div>
			</div>
		</div>
	</section>
	{% endif %}
	{% if guess_info %}
	<section class="soft-list">
		<div class="container">
			<h2>猜你喜欢</h2>
			<ul class="clearfix">
				{{ component.soft(guess_info) }}
			</ul>
		</div>
	</section>
	{% endif %}
	<section class="description">
		<div class="container">
			<h2>软件介绍</h2>
			<div class="content fr-view">
				{{ mac_content.content | raw }}
			</div>
		</div>
	</section>
	{% if resRelatedGroup_soft[15] %}
	<section class="soft-list">
		<div class="container">
			<h2>相关软件</h2>
			<ul class="clearfix">
				{{ component.soft(resRelatedGroup_soft[15]) }}
			</ul>
		</div>
	</section>
	{% endif %}
	{% if resRelatedGroup_soft[0] %}
	<section class="soft-list">
		<div class="container">
			<h2>专题
				<em>——</em>
				{{ resRelatedGroup_soft[0][0].title }}
				<br><a href="{{ resRelatedGroup_soft[0][0].url }}">进入专题 &gt;</a>
			</h2>
			<ul class="clearfix">
				{{ component.soft(resRelatedGroup_soft[0][0].special_content) }}
			</ul>
		</div>
	</section>
	{% endif %}
	{% if resRelatedGroup_soft[1] %}
	<section class="article-list">
		<div class="container">
			<h2>相关文章</h2>
			<ul class="clearfix">
				{{ component.article(resRelatedGroup_soft[1]) }}
			</ul>
		</div>
	</section>
	{% endif %}
	<input type="hidden" id="content-info" data-src="{{ mac_content.thumb }}" data-id="{{ mac_content.id }}"
		data-model="{{ mac_content.model_id }}" data-point="{{ mac_content.point }}" data-url="{{ url }}"
		data-title="{{ mac_content.title }}">
</main>
{% endblock %}

{% block script %}
<script src="js/mac-content.min.js"></script>
{% endblock %}