{% extends 'inc/base.twig' %}
{% import "components/index.twig" as component %}

{% block meta %}
<meta property="og:type" content="soft" />
<meta property="og:description" content="{{ mac_content.description }}" />
<meta property="og:soft:file_size" content="{{ mac_content.file_size }}" />
<meta property="og:soft:operating_system" content="{{ mac_content.systems }}" />
<meta property="og:image" content="{{ mac_content.thumb }}" />
<meta property="og:release_date" content="{{ mac_content.update_time | date('Y-m-d') }}" />
<meta property="og:title" content="{{ mac_content.title }}" />
<meta property="og:soft:download_count " content="{{ mac_content.hits_total }}" />
<meta property="og:soft:language" content="{{ mac_content.language }}" />
<meta property="og:soft:license" content="{{ mac_content.copy_type }}" />
<meta property="og:soft:url" content="{{ url }}" />
{% endblock %}

{% block css %}
<link rel="stylesheet" href="css/mac-content.min.css">
{% endblock %}

{% block content %}
<main>
	<section class="content">
		<div class="container">
			<div class="breakhumbs">
				<a href="/">首页</a>
				&gt;
				<a href="/list/">应用</a>

				{% if mac_content.parent_id_cate_name %}
				&gt;
				<a href="{{ mac_content.category_url_by_parent_id }}">{{ mac_content.parent_id_cate_name }}</a>
				{% endif %}
				{% if mac_content.cate_name %}
				&gt;
				<a href="{{ mac_content.category_url }}">{{ mac_content.cate_name }}</a>
				{% endif %}
				&gt;
				<span>{{ mac_content.title }}
					{{ mac_content.version }}</span>
			</div>
			<div class="content-info">
				<div class="content-info_wrap">
					<div class="content-info_thumbs">
						<div class="img">
							{% if video[0] %}
							<video src="{{ video[0] }}" preload="metadata" title="点击查看截图"></video>
							{% else %}
							<img src="{{ images[0] | default(mac_content.thumb) }}" title="点击查看截图">
							{% endif %}
							{% if video[0] or images[0] %}
							<span><img src="/assets/images/expand.png"></span>
							{% endif %}
						</div>
					</div>
					<div class="content-info_con">
						<div class="img"><img src="{{ mac_content.thumb }}" alt="{{ mac_content.title }}"></div>
						<h1>{{ mac_content.title }}
							{{ mac_content.version }}</h1>
						<p class="infos">
							<span>大小：{{ mac_content.file_size }}</span>
							<span>时间：{{ mac_content.update_time | date('Y-m-d') }}</span>
							<span>语言：{{ mac_content.language }}</span>
							<span>积分：{{ mac_content.point }}积分</span>
							<span>系统：{{ mac_content.systems }}</span>
						</p>
						<div class="btns">
							<button class="btns-fn" id="collect"><i class="icon-collect"></i><span>点击收藏</span></button>
							<button class="btns-fn" id="support">
								<i class="icon-support"></i>
								<em>{{  mac_content.click_good }}</em>
							</button>
							<button class="btns-fn" id="share"><i class="icon-share"></i>分享有礼</button>
							<div class="kf-link btns-fn">
								<i class="icon-wx"></i>客服微信
								<div class="wx-img">
									<img src="/assets/images/sidebar/wx.png" alt="微信客服">
									<p>打开微信扫一扫</p>
								</div>
							</div>
						</div>
						<div class="download-box">
							<button class="download" id="download"><i class="icon-download"></i>立即下载</button>
							<div class="down-tips">
								<a href="/news/1.html" target="_blank">【安装软件遇到提示损坏，打不开，来自xx不明的开发者，详见：
									<em>解决方法 </em>】
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-nav">
		<div class="container clearfix">
			<div class="con-title">
				<img src="{{ mac_content.thumb }}" alt="{{ mac_content.title }} {{ mac_content.version }}">
				<p>{{ mac_content.title }} {{ mac_content.version }}</p>
			</div>
			<div class="con-sec">
				<ul id="nav-ul">
					<li class="active">内容介绍</li>
					{% if guess_info %}
					<li>猜你喜欢</li>
					{% endif %}
					{% if resRelatedGroup_soft[15] %}
					<li>相关软件</li>
					{% endif %}
					{% if resRelatedGroup_soft[0] %}
					<li>相关专题</li>
					{% endif %}
					{% if resRelatedGroup_soft[1] %}
					<li>相关文章</li>
					{% endif %}
				</ul>
				<button id="fix-download"><i class="icon-download"></i>下载</button>
			</div>
		</div>
	</section>
	{% if video or images %}
	<section class="screenshot">
		<span class="screenshot-close">X</span>
		<div class="screenshot-wrap">
			<div class="swiper-container screenshot-swiper">
				<ul class="swiper-wrapper">
					{% for i,item in video %}
					<li class="swiper-slide">
						<div class="img-wrap {% if i == 0 %}active{% endif %}">
							<video src="{{ item }}" preload="metadata" controls></video>
							<span class="video-play"></span>
						</div>
					</li>
					{% endfor %}
					{% for i,item in images %}
					<li class="swiper-slide">
						<div data-swiper-zoom="2"
							class="img-wrap swiper-zoom-container {% if i == 0 and video | length == 0 %}active{% endif %}">
							<a href="{{ item }}" data-fancybox="images">
								<img src="{{ item }}">
							</a>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
			<!--左箭头-->
			<div class="swiper-button-prev screenshot-arrow left"></div>
			<!--右箭头-->
			<div class="swiper-button-next screenshot-arrow right"></div>
		</div>
		<div class="screenshot-wrap-thumbs">
			<div class="swiper-container screenshot-swiper-thumbs">
				<ul class="swiper-wrapper">
					{% for i,item in video %}
					<li class="swiper-slide">
						<div class="img-wrap {% if i == 0 %}active{% endif %}">
							<video src="{{ item }}" preload="metadata"></video>
							<span class="icon-play"></span>
						</div>
					</li>
					{% endfor %}
					{% for i,item in images %}
					<li class="swiper-slide">
						<div class="img-wrap {% if i == 0 and video | length == 0 %}active{% endif %}"><img src="{{ item }}">
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="swiper-button-prev screenshot-arrow-thumbs left"></div>
			<div class="swiper-button-next screenshot-arrow-thumbs right"></div>
		</div>
	</section>
	{% endif %}
	{% if recommend_special %}
	<section class="rec-topic">
		<div class="container">
			<h2>推荐专题</h2>
			<ul class="clearfix">
				{{ component.topics(recommend_special) }}
			</ul>
		</div>
	</section>
	{% endif %}
	<section class="sec-item description">
		<div class="container">
			<h2>软件介绍</h2>
			<div class="content fr-view markdown-body editormd-preview-container">
				{{ mac_content.content | markdown_to_html }}
			</div>
		</div>
	</section>
	{% if guess_info %}
	<section class="sec-item soft-list">
		<div class="container">
			<h2>猜你喜欢</h2>
			<div class="sec-toggle-wrap">
				<ul class="clearfix active">
					{{ component.soft(guess_info | slice(0, 5)) }}
				</ul>
				<ul class="clearfix">
					{{ component.soft(guess_info | slice(5, 5)) }}
				</ul>
			</div>
			{% if guess_info | length > 5 %}
			<div class="sec-toggle-btn">
				<span class="active"></span>
				<span></span>
			</div>
			{% endif %}
		</div>
	</section>
	{% endif %}
	{% if resRelatedGroup_soft[15] %}
	<section class="sec-item soft-list">
		<div class="container">
			<h2>相关软件</h2>
			<div class="sec-toggle-wrap">
				<ul class="clearfix active">
					{{ component.soft(resRelatedGroup_soft[15] | slice(0, 5)) }}
				</ul>
				<ul class="clearfix">
					{{ component.soft(resRelatedGroup_soft[15] | slice(5, 5)) }}
				</ul>
			</div>
			{% if resRelatedGroup_soft[15] | length > 5 %}
			<div class="sec-toggle-btn">
				<span class="active"></span>
				<span></span>
			</div>
			{% endif %}
		</div>
	</section>
	{% endif %}
	{% if resRelatedGroup_soft[0][0].special_content %}
	<section class="sec-item soft-list">
		<div class="container">
			<h2>相关专题</h2>
			<div class="sec-toggle-wrap">
				<ul class="clearfix active">
					{{ component.soft(resRelatedGroup_soft[0][0].special_content | slice(0, 5)) }}
				</ul>
				<ul class="clearfix">
					{{ component.soft(resRelatedGroup_soft[0][0].special_content | slice(5, 5)) }}
				</ul>
			</div>
			{% if resRelatedGroup_soft[0][0].special_content | length > 5 %}
			<div class="sec-toggle-btn">
				<span class="active"></span>
				<span></span>
			</div>
			{% endif %}
		</div>
		<a class="sec-more" href="{{ resRelatedGroup_soft[0][0].url }}">进入专题</a>
	</section>
	{% endif %}
	{% if resRelatedGroup_soft[1] %}
	<section class="sec-item article-list">
		<div class="container">
			<h2>相关文章</h2>
			<div class="sec-toggle-wrap">
				<ul class="clearfix active">
					{{ component.article(resRelatedGroup_soft[1] | slice(0, 6)) }}
				</ul>
				<ul class="clearfix">
					{{ component.article(resRelatedGroup_soft[1] | slice(6, 6)) }}
				</ul>
			</div>

			{% if resRelatedGroup_soft[1] | length > 6 %}
			<div class="sec-toggle-btn">
				<span class="active"></span>
				<span></span>
			</div>
			{% endif %}
		</div>
	</section>
	{% endif %}
	<input type="hidden" id="content-info" data-src="{{ mac_content.thumb }}" data-id="{{ mac_content.id }}"
		data-model="{{ mac_content.model_id }}" data-point="{{ mac_content.point }}" data-url="{{ url }}"
		data-title="{{ mac_content.title }}">
</main>
{% endblock %}

{% block script %}
<script src="js/mac-content.min.js"></script>
{% endblock %}