{% extends 'inc/base.twig' %}
{% import "components/index.twig" as component %}

{% block css %}
<link rel="stylesheet" href="css/topic-index.min.css">
{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="breadcrumbs">
      <a href="/">首页</a>
      &gt; <span>专题</span>
    </div>
    
    <section class="topic-classify">
      <div class="classify-nav">
        <a class="active" href="/z/ls_{{ soft_nav }}_1.html"><img src="{{ special_cate_thumb[soft_nav] }}">软件</a>
        <a href="/z/lc_{{ plugin_nav }}_1.html"><img src="{{ special_cate_thumb[plugin_nav] }}">插件</a>
        <a href="/z/lmb_{{ template_nav }}_1.html"><img src="{{ special_cate_thumb[template_nav] }}">模板</a>
        {# <a href="/z/lmb_{{ wallpaper_nav }}_1.html"><img src="{{ special_cate_thumb[wallpaper_nav] }}">壁纸</a> #}
        <a href="/z/lwz_{{ article_nav }}_1.html"><img src="{{ special_cate_thumb[article_nav] }}">文章</a>
      </div>
      <ul>
        <li class="active">
          {% for item in category_data if item.parent_id == soft_nav %}
          <a href="{{ item.url }}"><img src="{{ item.thumb }}"> {{ item.cate_name }}</a>
          {% endfor %}
        </li>
        <li>
          {% for item in category_data if item.parent_id == plugin_nav %}
          <a href="{{ item.url }}"><img src="{{ item.thumb }}"> {{ item.cate_name }}</a>
          {% endfor %}
        </li>
        <li>
          {% for item in category_data if item.parent_id == template_nav %}
          <a href="{{ item.url }}"><img src="{{ item.thumb }}"> {{ item.cate_name }}</a>
          {% endfor %}
        </li>
        {# <li>
          {% for item in category_data if item.parent_id == wallpaper_nav %}
          <a href="{{ item.url }}"><img src="{{ item.thumb }}"> {{ item.cate_name }}</a>
          {% endfor %}
        </li> #}
        <li>
          {% for item in category_data if item.parent_id == article_nav %}
          <a href="{{ item.url }}"><img src="{{ item.thumb }}"> {{ item.cate_name }}</a>
          {% endfor %}
        </li>
      </ul>
    </section>
    <section class="boutique-soft">
      <div class="sec-title">
        <h2>最新软件专题</h2>
        <a href="/z/ls_{{ soft_nav }}_1.html">更多专题 →</a>
      </div>

      <ul class="clearfix">
        {{ component.topic_soft(newSpecial) }}
      </ul>
    </section>
    <section class="boutique-plugin">
      <div class="sec-title">
        <h2>最新插件专题</h2>
        <a href="/z/lc_{{ plugin_nav }}_1.html">更多专题 →</a>
      </div>

      <ul class="clearfix">
        {{ component.topic_plugin(plugin_special_data) }}
      </ul>
    </section>
    <section class="boutique-template">
      <div class="sec-title">
        <h2>最新模板专题</h2>
        <a href="/z/lmb_{{ template_nav }}_1.html">更多专题 →</a>
      </div>

      <ul class="clearfix">
        {{ component.topic_template(template_special_data) }}
      </ul>
    </section>
    <section class="boutique-wallpaper">
      <div class="sec-title">
        <h2>最新壁纸专题</h2>
        <a href="/z/lbz_{{ wallpaper_nav }}_1.html">更多专题 →</a>
      </div>

      <ul class="clearfix">
        {{ component.topic_wallpaper(wallpaper_special_data) }}
      </ul>
    </section>
    <section class="boutique-article">
      <div class="sec-title">
        <h2>最新文章专题</h2>
        <a href="/z/lwz_{{ article_nav }}_1.html">更多专题 →</a>
      </div>

      <ul class="clearfix">
        {{ component.topic_article(article_special_data) }}
      </ul>
    </section>
  </div>
</main>
{% endblock %}

{% block script %}
<script src="js/topic-index.min.js"></script>
{% endblock %}