{% extends 'inc/base.twig' %}
{% import "components/index.twig" as component %}

{% block css %}
<link rel="stylesheet" href="css/topic-content.min.css">
{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="breadcrumbs">
      <a href="/">首页</a>
      &gt; <a href="/z/">专题</a>
      &gt; <a href="/z/lbz_{{ category_data.parent_id }}_1.html">壁纸</a>
      &gt; <a href="{{ category_data.url }}">{{ category_data.cate_name }}</a>
      &gt; <span>{{ special_info.title }}</span>
    </div>
    <section class="info">
      <h1>{{ special_info.title }}</h1>
      <p class="desc">{{ info.description }}</p>
      <p class="num">共{{ special_content | length }}篇文章</p>
      <div class="btns">
        <a href="/z/lbz_{{ category_data.parent_id }}_1.html">专题列表</a>
        <a href="/z/">专题首页</a>
      </div>
    </section>
    <section class="content-list">
      <ul class="wallpaper clearfix">
        {{ component.wallpaper(special_content) }}
      </ul>
    </section>
    {% if article_info %}
    <section class="articles-list">
      <h2>相关文章</h2>
      <ul class="clearfix">
        {{ component.article(article_info) }}
      </ul>
    </section>
    {% endif %}
  </div>
</main>
{% endblock %}