{% extends 'inc/base.twig' %}
{% import "components/index.twig" as component %}
{% import "components/pagination.twig" as pagi %}

{% block css %}
<link rel="stylesheet" href="css/topic-list.min.css">
{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="breadcrumbs">
      <a href="/">首页</a>
      &gt;<a href="/z/">专题</a>
      {% if category_data.parent_cate_name %}
      &gt; <a href="{{ category_data.parent_cate_url }}">{{ category_data.parent_cate_name }}</a>
      {% endif %}
      {% if category_data.cate_name %}
      &gt; <span>{{ category_data.cate_name }}</span>
      {% endif %}
    </div>
    <div class="plugin-type">
      <h1>壁纸专题</h1>
      <a href="/z/">返回专题首页</a>
    </div>
    <nav class="topic-nav">
      <a href="{{ category_data.parent_cate_url }}" {% if category_data.id == 20 %}class="active" {% endif %}>全部</a>
      {% for item in cate_info %}
      <a href="{{ item.url }}" {% if category_data.id == item.id %}class="active" {% endif %}><img
          src="{{ item.thumb }}"> {{ item.cate_name }}</a>
      {% endfor %}
    </nav>
    <section class="topic-list">
      <ul class="wallpaper clearfix">
        {{ component.topic_wallpaper(wallpaper_special_data) }}
      </ul>
    </section>
    {{ pagi.pagi(special_count, page, 20, '/z/lbz_' ~ category_data.id ) }}
  </div>
</main>
{% endblock %}