{% extends 'inc/base.twig' %}
{% block add_css %}
<link rel="stylesheet" href="css/about.min.css">
{% endblock %}
{% block content %}
<main class="content clearfix">
    <div class="breakcrumbs">
        <lord-icon animation="auto" src="/assets/json/pos3.json"></lord-icon>
        <a href="/">首页</a>
        &gt; <span>关于我们</span>
    </div>
    <aside>
        <ul>
            {% for i,item in question_data %}
            <li class="lis ab{{ item.id }}"><a href="#{{ item.id }}">{{ item.cate_name }} <em>&gt;</em></a></li>
            {% endfor %}
        </ul>
    </aside>
    <article>
        <ul>
            {% for i,item in question_data %}
            <li class="li-content">
                <h4>{{ item.cate_name }}</h4>
                {{ item.data[0].description | raw }}
            </li>
            {% endfor %}
        </ul>
    </article>
</main>
{% endblock %}

{% block script %}
<script src="js/about.min.js"></script>
{% endblock %}