{% extends 'inc/base.twig' %}
{% import "components/component.twig" as component %}

{% block add_css %}
<link rel="stylesheet" href="css/gather.min.css">
{% endblock %}

{% block content %}
<main>
	<div class="bg-placeholder"></div>
	<div class="breakcrumbs bgf">
		<lord-icon animation="auto" src="/assets/json/pos1.json"></lord-icon>
		<a href="/">首页</a>
		&gt; <a href="/families/">样式</a>
		&gt; <a href="{{ family_url }}">{{ family_name }}</a>
		&gt; <span>{{ style_name }}</span>
	</div>
	<section class="gather-list">
		<div class="gather-info">
			<h1>{{ style_name }}</h1>
			<span>{{ pack_total }}个图标包，可用于个人和商业用途</span>
		</div>
		<div class="gather-filter">
			<div class="filter-wrap">
				<div class="filter-item">
					<span class="fl">颜色：</span>
					<a href="/family/{{ style_id }}_0_{{ order }}_1.html" class="{% if colored == 0 %}active{% endif %}">全部</a>
					<a href="/family/{{ style_id }}_1_{{ order }}_1.html" class="{% if colored == 1 %}active{% endif %}">单色</a>
					<a href="/family/{{ style_id }}_2_{{ order }}_1.html" class="{% if colored == 2 %}active{% endif %}">多色</a>
				</div>
				<div class="filter-item">
					<a href="/family/{{ style_id }}_{{ colored }}_1_1.html" class="{% if order == 1 %}active{% endif %}">最新</a>
					<a href="/family/{{ style_id }}_{{ colored }}_2_1.html" class="{% if order == 2 %}active{% endif %}">最热</a>
				</div>
			</div>
		</div>
		<ul class="icons-list">
			{{ component.pack(pack_data) }}
		</ul>

		<!-- 翻页 -->
		{{ component.pagi(pack_total, page, 24, '/family/' ~ style_id ~ '_' ~ colored ~ '_' ~ order)}}
	</section>
</main>
{% endblock %}

{% block script %}
<script src="js/gather.min.js"></script>
{% endblock %}