<!-- 视频列表 -->
{% macro video(data, is_rank = false, class = '') %}
  <ul class="component-video_list clearfix {{ class }}">
    {% for i,item in data %}
      <li>
        <a href="{{ item.url }}" title="{{ item.title | striptags }}">
          {% if is_rank %}<span class="rank-num"><i></i><em>{{ i + 1 }}</em></span>{% endif %}
          <div class="img">
            <span class="video-play"></span>
            <img src="{{ item.thumb }}" alt="{{ item.title | striptags }}">
          </div>
          <p class="title">{{ item.title | raw }}</p>
          <p class="info">
            <span><i class="icon-video"></i>{{ item.time | default("00:00") }}</span>
            <span class="fr">{{ item.update_time | date('Y-m-d') }}</span>
          </p>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro topic(data, class="") %}
  <ul class="component-video_topic">
    {% for item in data %}
    <li><a href="{{ item.url }}">
        <div class="con">
          <p class="title">{{ item.title }}</p>
          <span>共{{ item.num }}个视频</span>
          <p class="time">更新：{{ item.create_time | date('Y-m-d') }}</p>
        </div>
        <div class="imgs">
          {% for v in item.thumb_arr %}
          <img src="{{ v.thumb }}" alt="{{ item.title }}">
          {% endfor %}
        </div>
      </a></li>
    {% endfor %}
  </ul>
{% endmacro %}